venv
./__pycache__
package-lock.json
node_modules
__pycache__
.env
/admin-dashboard/dist
/detection_service/.venv
/detection_service/app/yolo_models
/detection_service/hybrid_yolo/*.pt
/detection_service/hybrid_yolo/models
/detection_service/hybrid_yolo/output
.DS_Store
/detection_service/hybrid_yolo